
body {
    margin: 0px;
    padding: 0px;
}
/* Fuentes */
a {
    text-decoration: none;
}

.font-grayBold {
    color: #6a696e;
    font-size: 14px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
}

.fontGP80 {
    font-family: 'GoldPlay', sans-serif;
    font-size: 80px;
    color:white;
}

.pointer {
    cursor : pointer; 
}

.fontBlack80Bold {
    font-family: 'Nunito-ExtraBold', sans-serif;
    font-size: 80px;
    color:white;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fontBlack16Red {
    font-family: 'Nunito-ExtraBold', sans-serif;
    font-size: 16px;
    color: rgb(255, 68, 31);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.font-whiteBold {
    color: white;
    font-size: 14px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
}

.infoToastify {
    font-family: 'Nunito-ExtraBold', sans-serif;
    border-radius: 5px;
    background-color: rgb(255, 68, 31);
} 

.font-whiteBlack16 {
    color: rgb(46, 44, 54);;
    font-size: 16px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.font-whiteBlack16Lite {
    color: rgb(46, 44, 54);;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: normal;
}

.font-whiteGray14Lite {
    color: rgb(106, 105, 110);
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: normal;
}

.fontRed24Bold {

    font-family: 'Nunito-ExtraBold', sans-serif;
    font-size: 20px;
    color: rgb(255, 68, 31);

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.font-whiteBlack18 {
    color: rgb(46, 44, 54);;
    font-size: 20px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.font-whiteBlack12 {
    color: rgb(46, 44, 54);;
    font-size: 12px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.font-white14LiteCard {
    margin-left : 10px;
    margin-right: 10px;
    color: rgb(46, 44, 54);;
    font-size: 16px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;
    margin-block-start: 0.25em;
    font-weight: bold;
}


.font-whiteBlack14 {
    color: rgb(46, 44, 54);;
    font-size: 14px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.font-green12 {
    color: rgb(46, 44, 54);;
    font-size: 10px;
    font-family: 'Nunito-ExtraBold', sans-serif;
    letter-spacing: normal;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.font-white80 {
    color: white;
    font-size: 80px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: normal;
}


.font-gray {
    color: #6a696e;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
}

.font-gray12 {
    color: #6a696e;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
}


.font-gray-big {
    color: #6a696e;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
}


.nav {
    position: fixed;
}


.menu-nav {
    background-color: white;
    position: fixed;
    width: 100%;
}

.borderGray {
    border-top-color: #6a696e;
    border-top-width: 10px;
    
}

.input_find {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    height: 40px;
    width:  400px;
    float: left;
    background-color: #f7f8f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.find {
    margin-left: 3px;
    width: 360px;
    border: 0;
    background-color: #f7f8f9;
    outline: none;
}

.red_button {
    height: 40px;
    width: 40px;
    background-color: #ff441f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green_button {
    height: 40px;
    width: 80px;
    background-color: rgb(41, 216, 132);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center_ico_white{
    color: white;
}



.menu {
    width: 400px;
    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.menu ul li {    
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    display: inline-block;
}

.banner_topRed {
    height: 400px;
    background-color: #ff441f;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.positionModalSection {
    padding-left: 30px;
    padding-top : 50px;
    padding-bottom : 30px;
    
}

.positionCabSection {
    padding-left: 30px;
    padding-top : 50px;
    padding-bottom : 30px;
    
}

.banner_section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.backGroundGray {
    background-color: #f7f8f9;
}

.backGroundWhite {
    background-color: white;
}



.banner_section_Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 20px;
    padding-bottom: 20px;

}

.card_category {
    width: 180px;
    height: 180px;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;   
}



.link_imagen_category {
    margin-top: 20px;
    padding-top: 20px;
    width: 65%;
    cursor : pointer; 
}

.box_textCategory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.arrow_red {
    color: #ff441f;
    margin-left: 4px;
    margin-top:  7px;
}

.text_category {
    margin-top: 10px;
}


.box_center {
    width: 60%;
}

.input_find_map {
    padding: 4px;
    height: 80px;
    width:  600px;

    background-color: #f7f8f9;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico_map {

    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f7f8f9;
} 

.find_map {
    margin-left: 3px;
    width: 560px;
    border: 0;
    background-color: #f7f8f9;
    outline: none;
}

.multiBoxRow_responsive {

    margin-left:  10px;
    margin-right: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.multiBoxCol_responsive {

    margin-left:  10px;
    margin-right: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}



.multiBoxRow_responsive .boxFlex450 {
    width: 450px;


}

.multiBoxCol_responsive .boxFlex100 {
    width: 1000px;
    height: 600px;
    margin-top: 40px;
}


.inCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo_center {

    margin-left: 16px;
    width: 40px;
    height: 100%;
    float:left;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center_ico_gray {
    color: #6a696e;
    text-decoration: none;
}

.card_restaurant {
    width: 210px;
    height: 210px;
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;  
    cursor : pointer; 
}

.card_top_restaurant {

    width: 210px;
    height: 250px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;   
}

.boxNomRestaurant {
    margin-top: 10px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;       
}

.boxNomRestaurant_bnd {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;       
}

.boxImageCenter{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #333944;
    border-radius: 12px;
  }
  .boxImage{

    width: 210px;
    height: 150px;

    overflow: hidden;
    border-radius: 12px;
  }
  
  .boxImage img{
    width: 100%;
    height: auto;
  }


  .boxImageProductCenter{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #333944;
    border-radius: 12px;
  }

  .boxImageProduct{
    width: 140px;
    height: 100px;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .boxImageProduct img{
    width: 100%;
    height: auto;
  }


  @supports(object-fit: cover){
      .boxImage img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }


  .modal_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;                             /* para que no se vea el modal*/
    pointer-events: none;                   /* desactivar los eventos del modal*/
    transition: opacity .2s .2s;            /* modifica la opacidad en una transicion de .6s */
    --transform: translateY(-100vh);        
    --transition: transform .8s;            /* Modifica a transform */
    display: flex;

    align-items: flex-end;
    justify-content: space-around;
    flex-direction: flex-end;      
}

.modal_menu__container {
    margin: auto;
    margin-top : 5%;
    padding-top: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    transform: var(--transform);        /* Llama a la custom properties de modal */
    transition: var(--transition);
    border-radius: 8px;
}

.modal_menu--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transform: transform .4s .4s;
}

.modal_menu__close {
    text-decoration: none;
  /*  transition: background-color .2s;*/
}






.modal {
    margin-top : 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);

    /*#2e2c36bd*/

    opacity: 0;                             /* para que no se vea el modal*/
    pointer-events: none;                   /* desactivar los eventos del modal*/
    transition: opacity .2s .2s;            /* modifica la opacidad en una transicion de .6s */
    --transform: translateX(-100vh);        
    --transition: transform .8s;            /* Modifica a transform */

}

.modal__container {
    margin-top : 0px;
    padding-top: 1px;
    width: 280px;
    height: 100%;
    background-color: #fff;
    transform: var(--transform);        /* Llama a la custom properties de modal */
    transition: var(--transition);
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateX(0);
    --transform: transform .4s .4s;
}

.modal__close {
    text-decoration: none;
  /*  transition: background-color .2s;*/
}

.container_top{
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;    
} 

.container_minisection{
    height: 60px;

    display: flex;
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;    
    flex-wrap: wrap;
} 

.container_minisection_category{


    display: flex;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;    
    flex-wrap: wrap;

} 

.container-ico {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;    
}

.container-textcategory_modal {
    height: 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}


.line_gray {
    height: 2px;
    background-color: #f7f8f9;
}

.button_green {
    background-color: rgb(41, 216, 132);
    padding-top : 6px;
    padding-bottom: 6px;
    padding-left : 28px;
    padding-right: 28px;
    border-radius: 8px;
}

.section_modal {
    padding-left: 15px;
    padding-right: 15px;
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
    cursor : pointer; 
}

.list_category_modal {
    padding-left: 15px;
    padding-right: 15px;
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;

}


.card_edit_product {
 
    margin: 10px;
    padding : 10px;

    border: 1px solid rgb(230, 235, 241);
    border-radius: 10px;

    display: flex;

    flex-direction: row;    
    align-content: center;
    
    justify-content: center;


}


.card_product {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width : 100%;

    border: 1px solid rgb(230, 235, 241);
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.box_card_Description {
    padding-left: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
}

.box_card_Description_price {
    padding-left: 20px;
    max-width: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
}

.box_card_ButtonAdd {
    padding-left: 20px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
}



.box_card_Quantity {
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: center;
    align-items: center;
    justify-content: center;
}

.green_button_circle_Quantity {
    height: 20px;
    width: 20px;
    margin-top: 12px;
    background-color: rgb(41, 216, 132);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.dZSNmN {
    background-color: rgb(41, 216, 132);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    top: 0px;
    right: 0px;
}

.dZSNmN.large {
    width: 40px;
    height: 40px;
}

.dZSNmN svg {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.dZSNmN svg path {
    fill: rgb(255, 255, 255);
}

.seccion_category_product_modal {
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}

.seccion_product_modal {
    padding-top:  15px;
    padding-left: 15px;
    padding-right: 15px;
    
    width : 100%;


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    

   /* align-content: center;*/

    align-items: flex-start;
    justify-content: center;

    max-height: 60vh;
    overflow-y: auto;
}


.list_category_modal:hover {
    background-color: #f7f8f9;
}

.button_green:hover {

    background-color:  #29c584;

}

.title_secundary_red {
    background-color: rgb(255, 242, 229);
    height: 130px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-between;
}

.title_section {
    padding-left: 35px;
    padding-top: 55px;
}

.band_filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80px;
}

.band_section {
    padding-left: 35px;
}

.button_filter {
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 10px;
    width: 30px;
    height: 30px;
}





.button_filter svg{
    width: 30px;
    height: 30px;
}

.button_filter_green {
    font-size: 12px;
    font-family: Nunito-ExtraBold;
    line-height: 1.83;
    letter-spacing: normal;
    color: rgb(41, 216, 132);
}

.box_button {
    padding-right : 15px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: space-between;
}

.button_filter_label {
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 10px;
    padding-left : 8px;
    padding-right: 8px;
    padding-top : 5px;
    padding-bottom: 5px;
}

input[type="checkbox"]:checked {
    display: none;
    box-shadow: 0 0 0 3px hotpink;
  }

  input[type="checkbox"] {
    display: none;
    box-shadow: 0 0 0 3px hotpink;
  }
  
  /* Elementos Option, cuando se seleccionan */
  option:checked {
    display: none;
    box-shadow: 0 0 0 3px lime;
    color: red;
  }


  input:checked + label {
    color:  #29c584;
    background-color: rgb(233, 252, 242);
  }

  .button_filter_label:hover {
    color:  #29c584;
    background-color: rgb(233, 252, 242);
  }


/* Modal para los productos del restaurant*/

  .modalRestaurant {
/*    margin-top : 0px; */
/*    padding-top: 0px;  */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;                             /* para que no se vea el modal*/
    pointer-events: none;                   /* desactivar los eventos del modal*/
    transition: opacity .2s .2s;            /* modifica la opacidad en una transicion de .6s */
    --transform: translateY(-100vh);        
    --transition: transform .8s;  
    display: flex;                          /* Modifica a transform */
}

.modalRestaurant__container {
    margin: auto;
    margin-top : 5%;
    padding-top: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 90%;

    background-color: #fff;
    transform: var(--transform);        /* Llama a la custom properties de modal */
    transition: var(--transition);
    border-radius: 8px;
}

.modalRestaurant--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .2s;
    --transform: translateY(0);
    --transform: transform .4s .4s;
}

.modalRestaurant__close {
    text-decoration: none;
  /*  transition: background-color .2s;*/
}

.svg_add {
    width : 24px;
    height: 24px;
    fill: "none";    
}

.imgRestaurant {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
}

.imgProduct {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}



.green_button_circle {
    height: 40px;
    width: 40px;
    background-color: rgb(41, 216, 132);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red_pannel_total {
    background-color: rgb(255, 68, 31);
    padding-top : 6px;
    padding-bottom: 6px;
    padding-left : 28px;
    padding-right: 28px;
    margin-right: 18px;
    border-radius: 5px;
}

.container_minisection_right{
    height: 60px;
    display: flex;
    align-content: space-around;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;    
    flex-wrap: wrap;
} 

.action_menu_shop {

    cursor : pointer; 
}

.card_RestaurantShop {
    padding: 10px;
    width : 100%;
    color: black;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
}


.card_productShop {
    padding: 10px;
    width : 100%;

    border: 1px solid rgb(230, 235, 241);
    border-radius: 14px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.seccion_product_modalShop {
    padding-left: 15px;
    padding-right: 15px;
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-items: flex-start;
    justify-content: center;
    max-height: 60vh;
    overflow-y: auto;
}

.boxImageProductCenterShop{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #333944;
    border-radius: 12px;
  }

  .boxImageProductShop{
    width: 70px;
    height: 60px;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .boxImageProductShop img{
    width: 100%;
    height: auto;
  }

  .imgRestaurantShop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
}

.box_card_Description {
    padding-left: 20px;

    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;

}